@import './customVariables.scss';

@mixin hexagon($width, $line-width, $line-left, $bor-rad, $line-right, $perspective) {
  position: relative;

  .topHexagon,
  .bottomHexagon {
    position: absolute;
    content: '';
    width: $width;
    left: 0px;
    height: 50%;
    background-color: #fff;
    border-radius: $bor-rad;

    &::before {
      content: '';
      position: absolute;
      width: $line-width;
      height: 1px;
      background-color: $hexagon-border;
    }
  }

  .topHexagon {
    transform: perspective($perspective) rotateX(3deg);
    border: 1px solid $hexagon-border;
    border-bottom: none;
    top: 0;

    &::before {
      left: $line-left;
      top: 95%;
    }
  }

  .bottomHexagon {
    top: 50%;
    transform: perspective($perspective) rotateX(-3deg);
    border: 1px solid $hexagon-border;
    border-top: none;

    &::before {
      right: $line-right;
    }
  }
}

@mixin hexagonColored($border-color, $bg-color: #fff) {
  .topHexagon,
  .bottomHexagon {
    background-color: $bg-color;

    &::before {
      background-color: $border-color;
    }
  }

  .topHexagon {
    border: 1px solid $border-color;
    border-bottom: none;
  }

  .bottomHexagon {
    border: 1px solid $border-color;
    border-top: none;
  }
}
